---
import { Debug } from "astro:components";
import Layout from "../../layouts/Layout.astro";
import type {
  FilmsResponse,
  PersonnesResponse,
  RolesResponse,
} from "../../pocketbase-typegen";
import LinkPersonne from "../../components/LinkPersonne.astro";

export const prerender = false;

type Response = FilmsResponse<{
  producteur: PersonnesResponse;
  scenaristes: PersonnesResponse[];
  roles: RolesResponse<{ acteur: PersonnesResponse }>[];
}>;

const listPersonnes = await Astro.locals.pb
  .collection("personnes")
  .getFullList();
---

<Layout pageTitle="Liste des personnes">
  <h1 class="text-2xl font-bold mb-4">Liste des personnes</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      listPersonnes.map((personne) => (
        <div class="bg-white p-4 shadow-md rounded-lg hover:shadow-lg transition">
          <LinkPersonne {...personne} />
        </div>
      ))
    }
  </div>
  <Debug {listPersonnes} />
</Layout>
