---
import type { PersonnesResponse } from "../pocketbase-typegen";
type Props = PersonnesResponse;
const personne = Astro.props
---

{
  personne ? (
    <a href={`/personne/${personne.id}`} class="text-blue-600 hover:underline">
      {personne.nom+ "" + personne.prenom}
    </a>
  ) : (
    <span class="text-gray-500 italic">Inconnu</span>
  )
}
